<div class="container clearfix">
    <h3>単語マスタ</h3>
    <div class="layout">
    <%= link_to("新規作成","/word/new") %>
    <%= link_to("単語帳検索","/word/search") %>
    <div class="link">
        <%= link_to("メインメニュー","/main") %>
    </div>    
    </div>
</div>