/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container{
    background-color:#f0e68c;
    border: 1px solid;
    padding:20px 15%;
}
.clearfix:after{
    content:"";
    clear:both;
    display:block;
}
.layout a{
    display:block;
}
.container h3{
    text-align:center;
}

.link{
    float: right;
    padding-top:70px;
    padding-bottom: 20px;
}

.btn{
    display:block;
    margin:auto;
    margin-top: 70px;
}

.show {
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
}

.showmenu{
    text-align: center;
}

.space{
    padding-left: 32px;
}

.submit{
    text-align: center;
    padding-bottom: 10px;
}

.block{
    padding-top: 10px;
}

.center{
    text-align: center;
}

.create_header{
    border: 1px solid;
}



.DivLink{
    position:relative;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.DivLink .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.framework{
    border: 1px solid tomato;
}

.left{
    float: left;
}

.stop{
    float: left;
    padding-top: 15px;
    padding-right: 5%;
}

.back{
    padding-top: 15px;
    padding-left: 5%;
}

.right{
    float: right;
    padding-top: 15px;
    padding-right: 5%;
}

.past{
    border: 1px solid;
    margin-top: 5%;
    margin-left: 7%;
    float:left;
    width: 40%;
}

.rank{
    border: 1px solid;
}

.adjust_1{
    display: inline-block;
    padding-left: 38%; 
}

.adjust_2{
    display: inline-block;
    padding-left: 3%;
}

.adjust_3{
    float: right;
    display: inline-block;
    padding-right: 36%;
}

.red{
    color: red;
}

.content{
    display: inline-block;
}



.cr0{
    position: absolute; left: 5%;
}


.c1{
    position: absolute; left: 50%;
}

.c2{
    position: absolute; left: 70.5%;
}

.cr2{
    position: absolute; left: 80%;
}

.result{
    padding-bottom: 20px;
}

.clear{
    clear: left;
}

.aaa{
    display: inline-block;
    clear: right;
    padding-right: 5%;
}

.bbb{
    display: inline-block;
    clear: left;
    padding-right: 5%;
}


.csv_output{
    padding-top: 20px;
}

.pagenation{
    clear: left;
    display: flex;
    justify-content: center;
}

.pagination > li > a {
    border: none;
    color: #999;
  }
  .pagination > li > a:hover {
    color: turquoise;
    background-color: white;
    border-radius: 15px;
  }
  .pagination > .active > a {
    color: turquoise;
    background-color: white;
    border-radius: 15px;
  }
  .pagination > .active > a:hover {
    background-color: white;
    color: turquoise;
  }

.image{
    padding-top: 30px;
    width: 100%;
    margin: auto;
}

.img{
    padding-top: 40px;
}

